.UIComponent {
	--font-size: 12px;
}
.UIComponent,
.UIComponent * {
}
*.invisible {
    display: none !important;
}
.UIComponent.cursorWait {
    cursor: wait;
}

:root {
	--uicomponent-background-color: #f7f7f7;
	--uicomponent-border: solid 1px gray;
	--uicomponent-padding: 4px;
	--uicomponent-min-width: 32px;
	--uicomponent-min-height: 32px;
}

.ValueComponent {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	background-color: var(--uicomponent-background-color);
	border: var(--uicomponent-border);
	min-height: var(--uicomponent-min-height);
	padding: var(--uicomponent-padding);
}
.ValueComponent > .name {
	text-align: right;
}
.ValueComponent > .value {
	text-align: left;
}
.ValueComponent > .name,
.ValueComponent > .value {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	font-size: var(--font-size);
	line-height: var(--font-size);
}

.DialogComponent {
    display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	z-index: 10;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: fixed;
}

.close {
	background-image: url('iconfinder_ic_close_48px_352270.svg');
	min-width: 20px;
	min-height: 20px;
	border-radius: 10px;
	border: solid 1px #0f0f0f;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-color: #fbfbfb;
/*	filter: contrast(20%);*/
	margin: 0;
	padding: 0;
	outline: none;
}
.close:hover {
	cursor: pointer;
}
.close:active {
	transform: translateY(2px);
}

.dragAndDropLabel {
	color: #a9a9a9;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.SwitchComponent {
}
.ButtonComponent > button,
.SwitchComponent > button,
.SwitchComponent > label {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: var(--font-size);
	line-height: var(--font-size);
	padding: 0;
	min-width: 2em;
	min-height: calc(var(--font-size) + 10px);
	background-color: white;
	margin: 0 1px;
}
.SwitchComponent > label {
	min-height: calc(var(--font-size) + 8px);
}
.ButtonComponent > button,
.SwitchComponent > button {
	-webkit-appearance: none;
	border: solid 1px darkgray;
	outline: none;
	border-radius: 2px;
}
.ButtonComponent > button:active,
.SwitchComponent > button:active {
	color: white;
	background-color: lightgray;
}
.SwitchComponent > .toggleButton:hover {
	cursor: pointer;
}
